<div id="content">
		<p id="top">National Digital Library of Bhutan | <%= render :partial => 'main/login_status' %>
		| <%= render :partial => 'sessions/language_options' %></p>
		<div id="logo">
			<h1>Virtual Bhutan</h1>
		</div>
		<ul id="menu">
			<li class="current"><%= link_to ts('home.this'), root_path %></li>
		</ul>
		<div class="line"></div>
</div>